.o_my_dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
            background: #f1f1f1;

}

.o_dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.o_dashboard_header h1 {
    margin: 0;
}

.o_dashboard_years button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;

}

.o_dashboard_years button:hover {
    background-color: #f1f1f1;
}


.o_dashboard_content {
    display: flex;
    flex-wrap: wrap;
}

.o_dashboard_row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.o_dashboard_item {
    flex: 1;
    padding: 10px;
    margin-right: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.o_dashboard_item h2 {
    margin: 10px 0;
    font-size: 24px;
}

.o_dashboard_item span {
    font-size: 14px;
    color: #666;
}

.o_dashboard_chart {
    position: relative;
}

.o_dashboard_chart .chart {
    width: 100%;
    height: 200px;
}
/** ####################################### **/


.box_class{
    background:#f1f1f1;
    padding: 10px;
    border-radius: 13px;
    height: auto;
        font-size: 25px;

}
.all_leads
{
div{
        text-align: center;
        span{
              font-size: 30px;
        }
}
}
.all_revenue{
div{
        text-align: center;
        span{
              font-size: 30px;
        }
}
}

.my_leads{
div{
        span{
              font-size: 30px;
        }
}
}


.count_data{
        margin-top: 25px;

        .col-2{
            background: white;
            height: 120px;
            margin-left: 10px;
            border-radius: 13px;
        }
        span{
            font-size: 13px;
}
}
/*
.header{
    background: #f1f1f1;
    padding: 3px;
    border-radius: 12px;
    text-align: center;
    color:#118DFF;
  }

.details{
  margin-top: 12px;
  background: #f1f1f1;
  padding: 13px;
  text-align: center;
  border-radius: 11px;
}
.details_top_demography
{
  margin-top: 12px;
  background: #f1f1f1;
  padding: 15px;
  text-align: center;
  border-radius: 14px;
}
.details_bottom_demography
{
  background: #f1f1f1;
  padding: 13px;
  text-align: center;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  height: auto;

}

.details h1{
color:#118DFF;
}
.row h2{
color:#118DFF;

}

   .big {
            flex-basis: 110px;
        }
         #outer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 120px;
            width: 516px;
        }

        .div {
            width: 90px;
            flex: 0 0 50px;
            margin: 5px;
            background-color: green;
        }*/