.priority-star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.priority-star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
   color:black;
}
.priority-star:checked:before {
   content: "\2605";
   position: absolute;
   color:yellow;
}