.cue_bridge_contact {
    border-radius: 20px;
    background-color: #232328;
    min-height: 600px;
    border: 2px solid #ffc84b;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .s_allow_columns.container {
        max-width: 780px;
    }
    .custom_text {
        font-size: var(--sub-header-f);
        line-height: 1.668;
        font-weight: 400;
        color: #e1e1f0;
    }
    .py-100 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    @media only screen and (max-width: 767px) {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    @media only screen and (max-width: 991px) {
        .py-100 {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}